<h1>Welcome To Veterinary Hospital</h1>

<%= link_to 'Doctors View', doctors_path %><br/>
<%= link_to 'Pets View', pets_path %><br/>
<%= link_to 'Appointments View', appointments_path %><br/>
<%= link_to 'Customers View', customers_index_path %>



